
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @model UIRS1._1.Data.Obrashenies
    @{
        ViewBag.Title = "AfterSubmit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
<h2>Отправлено</h2>
    <p>Спасибо за обращение. Мы ответим Вам в ближайщее время</p>
</body>
</html>

